
<ul class="flex gap-3 mt-4 {% if context == 'cart-page' %} justify-center {% else %} flex-col {% endif %}">        
  <li><a class="py-3 px-2 border-2 border-black font-semibold block  bg-white text-black hover:bg-black hover:text-white transition" href="/collections/best-sellers">shop all products</a></li>
  <li><a class="py-3 px-2 border-2 border-black font-semibold block  bg-white text-black hover:bg-black hover:text-white transition" href="/pages/hair-body-care-from-kitsch">shop haircare</a></li>
  <li><a class="py-3 px-2 border-2 border-black font-semibold block  bg-white text-black hover:bg-black hover:text-white transition" href="/pages/bundles-1">shop bundles</a></li>
</ul>
