<div class="image-block flex {{ block.settings.mobile_align }} {{ block.settings.desktop_align }}">
    {% if block.settings.image != blank %}
        <div style="max-width: {{ block.settings.max_width | append: 'px' }};">
            {% assign image_class = ' w-full object-cover ' %}
            {% assign image_class = image_class | append: block.settings.image_ratio | append: ' ' | append: block.settings.image_style %}
            {% render 'img-mobile', image: block.settings.image, class: image_class %}
        </div>
    {% endif %}
</div>