<svg viewBox="0 0 24 24" class="svg-placeholder text-gray-100 {{ class }}" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>No media</title>
    <path d="M0 0H24V24H0V0Z" fill="currentColor"/>
</svg>