<div class="rivo-section">
  <div class="rivo-container">
    <p class="rivo-pretitle">Sub-headline</p>
    <h2 class="rivo-title">Tier 1</h2>
    <div class="rivo-tiers-explainer">
      <div class="rivo-tiers-explainer-item">
        <img src="" alt="VIP Tier 1" loading="lazy">
        <h3 class="rivo-heading3">10 pts per $ spent</h3>
        <p class="rivo-text">Copy can live here. Tootsie roll pudding marshmallow toffee sweet.</p>
      </div>
      <div class="rivo-tiers-explainer-item">
        <img src="" alt="VIP Tier 1" loading="lazy">
        <h3 class="rivo-heading3">Birthday Rewards</h3>
        <p class="rivo-text">Copy can live here. Tootsie roll pudding marshmallow toffee sweet.</p>
      </div>
      <div class="rivo-tiers-explainer-item">
        <img src="" alt="VIP Tier 1" loading="lazy">
        <h3 class="rivo-heading3">Early Access</h3>
        <p class="rivo-text">Copy can live here. Tootsie roll pudding marshmallow toffee sweet.</p>
      </div>
      <div class="rivo-tiers-explainer-item">
        <img src="" alt="VIP Tier 1" loading="lazy">
        <h3 class="rivo-heading3">Welcome Gift</h3>
        <p class="rivo-text">Copy can live here. Tootsie roll pudding marshmallow toffee sweet.</p>
      </div>
    </div>
  </div>
</div>

<style></style>

{{ 'rivo-styling.css' | asset_url | stylesheet_tag }}
