<div x-data="scrollToTop()" @scroll.window="checkScrollPosition()">
    <button
        aria-label="Scroll to top"
        @click="scrollToTop"
        x-show="showButton"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 transform translate-y-2"
        x-transition:enter-end="opacity-100 transform translate-y-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 transform translate-y-0"
        x-transition:leave-end="opacity-0 transform translate-y-2"
        class="fixed bottom-20 flex items-center justify-center z-[1000] right-5 bg-gray-900 text-white p-2 rounded-full hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400">
        {% render 'icon-chevron-left', class: 'rotate-90' %}
    </button>
</div>

<script>
    function scrollToTop() {
        return {
            showButton: false,
            checkScrollPosition() {
                this.showButton = (window.pageYOffset > 800);
            },
            scrollToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        }
    }
</script>