<script defer="defer" src="//cdn.storelocators.com/rpi/js/rpi-stable.js?v=12345"></script>
<link href="//cdn.storelocators.com/rpi/css/rpi-stable.css?v=12345" rel="stylesheet">
<style type="text/css">
  .sl_content_row_element .store_name, .sl_content_row_element .distance, .sl_content_row_element .quantity{ display: none !important;  }
</style>
<script>
  window.storeLocatorsConfig = {
    customerId: '1aaaa9de-86ea-4d8a-9955-7cdf8b40eb7a',
  }
</script>
<div id="storelocators_rpi" style="display:none;--sl-extraWidth:0px;--sl-margin:0px 0px 0px 0px;"></div>
