ambassador-hero-block {
  --lc-primary-font-color: #000000;

  /* top right corner button properties */
  --creator-btn-background-color: #ca998e;
  --creator-btn-color: #000000;
  --icon-color: #000000;
  --creator-btn-padding: 8px 15px;
  --banner-background: url(https://cdn.shopify.com/s/files/1/0104/6904/8384/files/New_Storefront_Banner.jpg?v=1743696231)
    no-repeat center center / cover !important;
}

ambassador-feed-block::part(loudcrowd-navbar) {
  /* navbar background color */
  --lc-navbar-background-color: #f2e3dd;

  /* navbar font color */
  --lc-font-secondary-color: revert;

  /* navbar active tile background color */
  --lc-primary-background-color: white;

  /* navbar active tile font color */
  --lc-font-primary-color: black;
  
}

ambassador-feed-block {
    --lc-feed-product-card-padding: 15px;
    --lc-feed-product-card-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    --lc-feed-product-card-border-radius: 0px;
    --card-border-radius: 90px;
}