.sl-brandstyle-4478b69a-a7fd-4802-a634-9e2c33f6944f .sl-font-style--title {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-4478b69a-a7fd-4802-a634-9e2c33f6944f .sl-font-style--body {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-4478b69a-a7fd-4802-a634-9e2c33f6944f .sl-font-style--button {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-4478b69a-a7fd-4802-a634-9e2c33f6944f .sl-font-style--label {
font-family: "Avenir Next";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e .sl-font-style--title { color: #000000; }
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e .sl-font-style--body { color: #000000; }
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e .sl-font-style--button { color: #000000; }
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e .sl-font-style--label { color: #000000; }
.sl-pattern-d3973594-beee-4d94-a19e-f00f74e5070e .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-font-style--title { color: #000000; }
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-font-style--body { color: #000000; }
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-font-style--button { color: #000000; }
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-font-style--label { color: #000000; }
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-11a747b5-3a52-4d28-b251-86690da886e0 .sl-button--button-style { border: 2px solid; }
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #000000;
}
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 .sl-font-style--title { color: #000000; }
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 .sl-font-style--body { color: #000000; }
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 .sl-font-style--button { color: #000000; }
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 .sl-font-style--label { color: #000000; }
.sl-pattern-59bf5452-5041-4ad8-acc3-66a7e3a4cc28 .sl-button--brand-style {
color: #000000;
background-color: #000000;
}
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 .sl-font-style--title { color: #000000; }
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 .sl-font-style--body { color: #000000; }
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 .sl-font-style--button { color: #000000; }
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 .sl-font-style--label { color: #000000; }
.sl-pattern-01a92427-6a31-443e-961f-229496b50257 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-4afc6287-1ec6-4a3b-91fa-54b9e408cf8c {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-4afc6287-1ec6-4a3b-91fa-54b9e408cf8c .sl-font-style--title { color: #000000; }
.sl-pattern-4afc6287-1ec6-4a3b-91fa-54b9e408cf8c .sl-font-style--body { color: #000000; }
.sl-pattern-4afc6287-1ec6-4a3b-91fa-54b9e408cf8c .sl-font-style--label { color: #000000; }
.sl-pattern-4afc6287-1ec6-4a3b-91fa-54b9e408cf8c .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-font-style--title { color: #000000; }
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-font-style--body { color: #000000; }
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-font-style--button { color: #000000; }
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-font-style--label { color: #000000; }
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-button--button-style { border: 2px solid; }
.sl-pattern-78a6ee80-7922-47a7-b81e-108ec55064e3 .sl-button--border-radius { border-radius: 40px; }
