<meta name="em-cache" content="no-cache">
<!-- V2 Referrals -->
<div class="rivo-page-section" id="rivo-referrals">
  <div class="rivo-container">
    <div id="rivo-referral-campaign-3895"></div>
  </div>
</div>

<style>
   .rivo-page-section {
    text-align: center;
    padding: 70px 0;
    overflow: hidden;
  }

  .rivo-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .rivo-title-sophillia {
    font-family: Sophillia;
    font-size: 74px;
    font-weight:normal;
    line-height: 1;
    margin-bottom: 20px;
  }

  /* Mobile */

@media (max-width: 768px) {
    #rivo-referrals {
      padding: 25px 5px !important;
  }
}
</style>